@model MvcDemo.ViewModels.UploadedImage

<div class="row">
    <div class="col-md-7">
        <a href="javascript:void">
            
            <img src="@Url.Action("Image", "Home", new{id=Model.ThumbnailId})" class="img-responsive" />
        </a>
    </div>
    <div class="col-md-5">
        <h3>Image name</h3>
        <h4>Original size: 600x800</h4>
    </div>
</div>