@model MvcDemo.ViewModels.ViewUploadViewModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
@*    <div class="row">*@
@*        <div class="col-lg-12">*@
@*            <h1 class="page-header">Upload and view some pictures</h1>*@

<div class="page-header">
    <h1 class="page-header">Upload and view some pictures</h1>
</div>
@*        </div>*@
@*    </div>*@
   
    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) {
        
    <div class="col-lg-8 col-sm-8 ">
        <div class="input-group ">
            <span class="input-group-btn">
                <span class="btn btn-primary btn-file">
                    <i class="glyphicon glyphicon-picture"></i>
                    &nbsp;Select Image&hellip; <input type="file" accept="image/*" name="blah">
                </span>
            </span>
            <input type="text" class="form-control" readonly>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Upload</button>
@*/               <span class="btn btn-primary ">*@
@*                    Upload*@
@*                </span>*@
            </span>
        </div>
    </div>


    }
    
    <div class="col-lg-12 col-sm-10 thumb-list">
        @foreach (var rowViewModel in @Model.UploadedImages) {
            @Html.Partial("~/Views/Home/_ImageRow.cshtml", rowViewModel)
        }
            
    </div>
    
</div>


<script type="text/javascript">
    $(document).on('change', '.btn-file :file', function () {
        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
    });

    $(document).ready(function () {
        $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }

        });
    });

</script>
